
/* 

ELEMENTS 

*/

body, html {
    /* Positioning */
    /* Box model */
    /* Fonts */
    font-family: 'Muli', sans-serif;
    line-height: 1.6;
    color: var(--color-dark);
    font-size: 17px;
    /* Apperance */
    /* Other styles */
}
